---
import MainLayout from "../../layouts/Main.astro";
const title = "About Us";
const slogan = "Express your creativity!";
---

<MainLayout
  title={title}
  description={slogan}
  socialImage="/images/social/index.png"
>
  <div class="m-auto text-center">
    <h1 class="heading-text text-lg sm:text-2xl">
      {title}
    </h1>
    <p>
      The Writers Workshop Bangladesh is the ultimate place to express your
      creativity!
    </p>
    <h2 class="text-md heading-text sm:text-xl">Our Story:</h2>
    <p>
      The Writers Workshop started as an idea by our honourable founder Mahashat
      Rahman.
      <br />
       He proposed the idea to our co-founder and web developer Moheshwar
      Amarnath Biswas.
      <br />
       Moheshwar started working on it. He chose Astro.js as the web framework.
      <br />
       It's the best (as of 29/Nov/2023) web framework for building websites
      like us.
      <br />
       He combined Astro.js with Tailwind CSS to build the best possible website
      for us.
    </p>
    <h2 class="text-md heading-text sm:text-xl">Our Team:</h2>
    <ul class="sm:list-inside sm:list-disc">
      <li>
        Co-founder, Web Developer, Poem Writer and Translator: Moheshwar
        Amarnath Biswas
      </li>
      <li>Founder, Writer and Managing Director: Mahashat Rahman</li>
      <li>Co-Founder and Comics Maker: Ohiyan Zaman Ohin</li>
      <li>Co-Founder, Comics Maker and Story Writer: Saifuzzaman Badhon</li>
    </ul>
  </div>
</MainLayout>
