---
import MainLayout from "../../layouts/Main.astro";
const title = "About Us";
const slogan = "Express your creativity!";
---

<MainLayout
  title={title}
  description={slogan}
  socialImage="/images/social/index.png"
>
  <div class="m-auto">
    <h1 class="text-center text-lg sm:mb-1 sm:text-2xl">{title}</h1>
    <ul class="sm:list-inside sm:list-disc">
      <li>
        Co-founder, Web Developer, Poem Writer and Translator: Moheshwar
        Amarnath Biswas
      </li>
      <li>Founder, Writer and Managing Director: Mahashat Rahman</li>
      <li>Co-Founder and Comics Maker: Ohiyan Zaman Ohin</li>
    </ul>
  </div>
</MainLayout>
