@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    hanging-punctuation: first last;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    max-width: 70ch;
    text-wrap: pretty;
  }
}

@layer components {
  .link {
    @apply text-pink-500 underline decoration-pink-500 duration-500 hover:text-[#7a00e6] hover:decoration-[#7a00e6] focus:text-[#7a00e6] focus:decoration-[#7a00e6];
  }
}

@layer utilities {
  .snow {
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url("/bg_images/snow.webp");
  }

  .heading-text {
    @apply m-3 rounded-md bg-[#7a00e6] p-2 text-center text-xl text-white sm:text-2xl;
  }
}
