@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snow {
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url("/images/snow.webp");
  }

  .heading-text {
    @apply m-4 bg-pink-500 p-4 font-bold text-black rounded-full;
  }
}
