---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/Main.astro";
const poems = await getCollection("poems");
---

<MainLayout
  title="poems"
  description="poems by our team"
  socialImage="/images/social/home.png"
>
  <ul class="m-auto list-disc">
    {
      poems.map((poem) => (
        <li>
          <a
            href={`/poems/${poem.slug}/`}
            class="text-xl underline decoration-pink-500 duration-500 hover:decoration-sky-500 sm:text-3xl"
          >
            {poem.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
