---
import MainLayout from "../layouts/Main.astro";
const title = "The Writers Workshop Bangladesh";
---

<MainLayout
  title={title}
  description="The Writers Workshop Bangladesh"
  socialImage="/images/social/home.png"
>
  <div class="text-center">
    <h1 class="text-xl sm:text-4xl">{title}</h1>
    <img
      src="/images/icon.webp"
      alt="Icon"
      width="200"
      height="160"
      class="m-auto"
    />
    <p>This site is under constuction.</p>
    <p>Coming soon...</p>
  </div>
</MainLayout>
