---
import MainLayout from "../layouts/Main.astro";
const title = "The Writers Workshop Bangladesh";
const slogan = "Express your creativity!"
---

<MainLayout
  title={title}
  description={slogan}
  socialImage="/images/social/index.png"
>
  <div class="text-center">
    <h1 class="text-xl sm:text-4xl">{title}</h1>
    <h2 class="text-lg sm:text-3xl">{slogan}</h2>
    <img
      src="/images/icon.webp"
      alt="Icon"
      width="200"
      height="160"
      class="m-auto"
    />
    <p>This site is under constuction.</p>
    <p>Coming soon...</p>
  </div>
</MainLayout>
