---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/Main.astro";
const stories = await getCollection("stories");
---

<MainLayout
  title="Stories"
  description="Stories by our team"
  socialImage="/images/social/home.png"
>
  <ul class="m-auto list-disc">
    {
      stories.map((story) => (
        <li>
          <a
            href={`/stories/${story.slug}/`}
            class="text-xl underline decoration-pink-500 duration-500 hover:decoration-sky-500 sm:text-3xl"
          >
            {story.data.title}
          </a>
          <p class="text-base sm:text-lg">{story.data.author}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>
