
<nav class="navbar justify-center p-0">
  <ul class="menu menu-horizontal bg-base-200 rounded-box p-0 text-[10px] sm:text-base">
    <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
    <li><a href="/about/"><i class="fa-solid fa-circle-info"></i> About</a></li>
    <li><a href="/poems/"><i class="fa-solid fa-bookmark"></i> Poems</a></li>
    <li><a href="/stories/"><i class="fa-solid fa-book"></i> Stories</a></li>
    <li><a href="/comics/"><i class="fa-solid fa-receipt"></i> Comics</a></li>
  </ul>
</nav>
